Repository d4l-data4life/hc-crypto-sdk-kmp, pull requests merged in 2022-08, with the labels that each got.

#8 Bump Updates
  CHANGELOG.adoc
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/crypto/config/LibraryConfig.kt
  buildSrc/src/main/kotlin/care/data4life/gradle/crypto/script/quality-spotless.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/crypto/script/versioning.gradle.kts
  crypto/src/androidMain/kotlin/care/data4life/sdk/crypto/CryptoProtocol.kt
  crypto/src/androidMain/kotlin/care/data4life/sdk/crypto/GCKeyPair.kt
  crypto/src/commonMain/kotlin/care/data4life/sdk/crypto/Algorithm.kt
  crypto/src/commonMain/kotlin/care/data4life/sdk/crypto/ExchangeKeyFactory.kt
  crypto/src/jvmMain/kotlin/care/data4life/sdk/crypto/CryptoProtocol.kt
  crypto/src/jvmMain/kotlin/care/data4life/sdk/crypto/GCKeyPair.kt
  crypto/src/jvmMain/kotlin/care/data4life/sdk/crypto/PemParser.kt
  crypto/src/jvmTest/kotlin/care/data4life/sdk/crypto/CryptoTest.kt
  crypto/src/jvmTest/kotlin/care/data4life/sdk/crypto/PemParserTest.kt
  gradle/wrapper/gradle-wrapper.properties
  gradlePlugin/crypto-dependency/src/main/kotlin/care/data4life/gradle/crypto/dependency/Insurance.kt
  gradlePlugin/crypto-dependency/src/main/kotlin/care/data4life/gradle/crypto/dependency/Version.kt
Labels: documentation, crypto, scripts, dependencies

#9 Prepare Release 1.16.0
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
  gradlePlugin/crypto-dependency/src/main/kotlin/care/data4life/gradle/crypto/dependency/Version.kt
Labels: documentation

#10 Add missing Changelog Entry (HC Util 1.14.0)
  CHANGELOG.adoc
Labels: documentation

#11 Fix versioning
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/crypto/script/versioning.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradlew
  gradlew.bat
Labels: scripts, dependencies

#12 Add Fixtures
  .gitignore
  crypto/build.gradle.kts
  crypto/src-gen/commonTest/kotlin/care/data4life/sdk/crypto/test/config/.gitkeep
  crypto/src/androidTest/kotlin/care/data4life/sdk/crypto/CryptoTest.kt
  crypto/src/androidTest/kotlin/care/data4life/sdk/crypto/ResourceLoader.kt
  crypto/src/commonTest/kotlin/care/data4life/sdk/crypto/ResourceLoader.kt
  crypto/src/commonTest/resources/design-documents/crypto/test-fixture/v1/asymDecrypt.json
  crypto/src/commonTest/resources/design-documents/crypto/test-fixture/v1/asymEncrypt.json
  crypto/src/commonTest/resources/design-documents/crypto/test-fixture/v1/asymPrivateExchangeKey.json
  crypto/src/commonTest/resources/design-documents/crypto/test-fixture/v1/asymPublicExchangeKey.json
  crypto/src/commonTest/resources/design-documents/crypto/test-fixture/v1/generateAsymKeys.json
  crypto/src/commonTest/resources/design-documents/crypto/test-fixture/v1/generateSymKey.json
  crypto/src/commonTest/resources/design-documents/crypto/test-fixture/v1/symCommonDecrypt.json
  crypto/src/commonTest/resources/design-documents/crypto/test-fixture/v1/symCommonEncrypt.json
  crypto/src/commonTest/resources/design-documents/crypto/test-fixture/v1/symCommonExchangeKey.json
  crypto/src/commonTest/resources/design-documents/crypto/test-fixture/v1/symTagDecrypt.json
  crypto/src/commonTest/resources/design-documents/crypto/test-fixture/v1/symTagEncrypt.json
  crypto/src/commonTest/resources/design-documents/crypto/test-fixture/v1/symTagExchangeKey.json
  crypto/src/commonTest/resources/template/TestConfig.tmpl
  crypto/src/jvmTest/kotlin/care/data4life/sdk/crypto/ResourceLoader.kt
Labels: crypto

#13 Fix KAPT for Android
  CHANGELOG.adoc
  crypto/build.gradle.kts
  crypto/src/androidTest/kotlin/care/data4life/sdk/crypto/ExchangeKeyJsonAdapterTest.kt
  crypto/src/jvmTest/kotlin/care/data4life/sdk/crypto/ExchangeKeyJsonAdapterTest.kt
Labels: documentation, crypto

#14 Prepare Release 1.16.1
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation
